n8n.json
{
  "name": "Gemini Subtask Generator",
  "nodes": [
    {
      "parameters": {
        "path": "generate-subtasks",
        "options": {
          "responseMode": "lastNode"
        }
      },
      "id": "WebhookNode",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookDescription": {
        "httpMethod": "POST",
        "responseMode": "lastNode"
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent",
        "authentication": "none",
        "options": {},
        "jsonParameters": true,
        "headers": {
          "Content-Type": "application/json",
          "x-goog-api-key": "YOUR_GEMINI_API_KEY"
        },
        "bodyJson": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Break down this task: {{$json[\"body\"][\"taskName\"]}} into 3-5 subtasks. Return as a JSON array.\"\n        }\n      ]\n    }\n  ]\n}"
      },
      "id": "GeminiRequest",
      "name": "Gemini API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "options": {},
        "responseBody": "={{$json[\"candidates\"][0][\"content\"][\"parts\"][0][\"text\"]}}"
      },
      "id": "RespondNode",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Gemini API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini API": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
